@using AspNetCoreSpa.STS.Resources
@using Microsoft.Extensions.Options
@model AspNetCoreSpa.STS.Models.LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject LocService SharedLocalizer
@inject IOptions<StsConfig> OptionsStsConfig
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("ACCOUNT_LOGIN");
}

    @if (Model.EnableLocalLogin)
    {
            <partial name="_ValidationSummary" />

                    <form asp-controller="Account" class="container-fluid dangky text-center" asp-action="Login" asp-route-returnurl="@Model.ReturnUrl" method="post">
                    
                          <img src="~/images/background.jpg" alt="nen">
                          <div id="dn-content" >
                           <div class="text-left">
                             <p class="h1 text-center text-light mt-3">LOGIN</p>
                       <div class="form-group mb-2 mt-2">
                        <label asp-for="Email"  class="text-light mb-1">@SharedLocalizer.GetLocalizedHtmlString("EMAIL")</label>
                                                   <input asp-for="Email" class="form-control" />
                                                   <span asp-validation-for="Email" class="text-danger mt-1"></span>
                       </div>
                       <div class="form-group mb-2 mt-2">
                         <label asp-for="Password" class="text-light mb-1">@SharedLocalizer.GetLocalizedHtmlString("PASSWORD")</label>
                                                     <input asp-for="Password" class="form-control" type="password" />
                                                     <span asp-validation-for="Password" class="text-danger mt-1"></span>
                       </div>
                        @if (Model.AllowRememberLogin)
                        {
                                                   <div class="form-group form-check">
                                                       <label class="form-check-label text-light mb-3 mt-2"  asp-for="RememberLogin">
                                                           <input class="form-check-input " type="checkbox" asp-for="RememberLogin"> @SharedLocalizer.GetLocalizedHtmlString("REMEMBER_ME")
                                                       </label>
                                                   </div>
                                               }
                           </div>
                        <button class="btn btn-primary bnt-dk-dk mr-2" name="button" value="login"  asp-route-returnurl="@OptionsStsConfig.Value.ClientUrl">@SharedLocalizer.GetLocalizedHtmlString("ACCOUNT_LOGIN")</button>
                         <button class="btn btn-default btn-success bnt-dk-dk cancel" formmethod="get" asp-action="Register">@SharedLocalizer.GetLocalizedHtmlString("REGISTER")</button>
                          </div>
                        <p>
                            <a asp-action="ForgotPassword">@SharedLocalizer.GetLocalizedHtmlString("FORGOT_YOUR_PASSWORD")</a>
                        </p>
                    </form>
             
    }

@if (!Model.EnableLocalLogin && !Model.VisibleExternalProviders.Any())
{

    <div class="alert alert-warning">
        <strong>Invalid login request</strong>
        There are no login schemes configured for this client.
    </div>
}

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
